doctype html
html
  head
    title VIT Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img4.png")
                | VDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
    block content
    footer#footer
            | Copyright © 2022 VITDanceAcademy.com | All rights reserved 